/* credit-cards */

.credit-cards {
	color: var(--text-black);
	display: flex;
	flex-direction: column;
	padding-left: 5%;
	padding-right: 5%;
}
.credit-cards .cards {
	margin-top: 25px;
	height: 150px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.credit-cards .cards span {
	direction: rtl;
	flex-basis: 100%;
	display: block;
}
.credit-cards .cards .card-choice {
	height: 60px;
	width: 150px;
	border-radius: 15px;
	border: var(--text-grey) 1px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7px;
}
.credit-cards .cards .card-choice:hover {
	background-color: #fff;
}
.credit-cards .cards .card-choice span {
	width: 100%;
	text-align: center;
}
.credit-cards .cards .card-choice img {
	border-radius: 5px;
	width: 56px;
}
.credit-cards .cards .selected {
	border: var(--blue) 3px solid;
	box-shadow: 0 5px 20px 0 var(--blue-shadow);
	background-color: #fff;
}
.card-desc {
	width: 100%;
	direction: rtl;
	display: flex;
	flex-direction: column;
	margin-top: 35px;
}
.card-desc .title {
	width: 100%;
	padding-left: 15px;
}
.credit-cards .card-desc h1 {
	font-size: 24px;
}
.credit-cards .card-desc h1 img {
	padding-left: 10px;
	width: 56px;
	transform: translateY(13px);
}
.credit-cards .card-desc hr {
	border: none;
	border-top: var(--blue) 2px solid;
	border-bottom: var(--blue) 2px solid;
	background-color: var(--blue);
	width: 200px;
	border-radius: 5px;
	margin-top: 10px;
}
.credit-cards .card-desc p {
	direction: rtl;
	margin-top: 15px;
	width: 100%;
	font-size: 12px;
	padding-bottom: 20px;
	text-align: justify;
	max-width: 500px;
}
.card-desc .title .table table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	table-layout: fixed;
}
.card-desc .title .table table button {
	width: 100%;
	border-radius: 5px;
	height: 35px;
	color: var(--text-grey);
	background-color: var(--grey);
	border: none;
	cursor: pointer;
	outline: none;
}
.card-desc .title .table .active {
	color: var(--text-white);
	background-color: var(--blue);

	box-shadow: 0 5px 20px 0 var(--blue-shadow);
}
.card-desc .title .table table tr {
	height: 50px;
}
.card-desc .title .table table tr:nth-child(even) {
	background-color: var(--grey);
}
.card-desc .title .table table td,
th {
	border-left: solid 1px var(--blue);
	text-align: center;
	padding: 0 5px;
}
.card-desc .title .table table td:last-child,
th:last-child {
	border: none;
}

.card-desc .specs {
	position: relative;
	background-color: var(--grey);
	width: 100%;
	border-radius: 12px;
	padding: 20px;
	padding-bottom: 45px;
	padding-right: 35px;
	overflow: hidden;
	height: 200px;
	transition: all 0.3s;
	font-size: 10px;
	max-width: 500px;
	margin-top: 35px;
}
.card-desc .specs hr {
	width: 75px;
}
.card-desc .specs ul {
	margin-top: 15px;
}
.card-desc .specs ul li {
	margin-top: 5px;
}
.card-desc .expanded {
	height: auto;
}
.card-desc .specs .expander {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	background: rgb(229, 229, 229);
	background: linear-gradient(
		rgba(229, 229, 229, 0.7) 0%,
		rgba(229, 229, 229, 1) 100%
	);
	color: var(--blue);
	font-size: 14px;
}
.card-desc .specs .expander:hover {
	background: linear-gradient(
		rgba(229, 229, 229, 0.4) 0%,
		rgb(202, 201, 201) 100%
	);
}
.credit-cards .ability-board {
	direction: rtl;
	width: 100%;
	float: right;
	color: var(--text-greyer);
	padding: 5%;
}
.credit-cards .ability {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 30px;
}
.credit-cards .ability img {
	margin-left: 25px;
	width: 50px;
}
.credit-cards .ability span {
	padding-left: 10px;
	font-size: 14px;
}
/* Handling different width sizes */

/* Any device smaller than 600px */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.credit-cards .cards {
		justify-content: flex-start;
	}
	.credit-cards .cards .card-choice {
		width: 45%;
		max-width: 250px;
		margin-left: 5%;
	}
	.credit-cards .cards .card-choice img {
		width: auto;
		height: 80%;
	}
	.card-desc {
		flex-direction: row;
		justify-content: space-between;
	}
	.card-desc .specs {
		height: fit-content;
		width: 60%;
		padding-bottom: 20px;
	}
	.card-desc .expander {
		display: none;
	}
	.credit-cards .ability-board {
		display: grid;
		grid-template-columns: auto auto;
	}

	.credit-cards .ability img {
		margin-left: 10px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.credit-cards .ability img {
		margin-left: 25px;
	}
	.credit-cards .ability span {
		padding-left: 15px;
		font-size: 16px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
