/* feature-board */
.feature-board {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 55px;
	width: 90%;
}
.feature-board .feature-card {
	cursor: pointer;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 40px;
	width: 90%;
	overflow: hidden;
	color: var(--text-grey);
	border-radius: 10px;
	background-color: var(--grey);
	height: 180px;
	padding: 5px;
	transition: background-color 0.3s;
}
.feature-board .feature-card:hover {
	background-color: #dfdfdf;
}
.feature-board .feature-card .card-title {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.feature-board .feature-card .card-title h3 {
	margin-right: 10px;
	white-space: nowrap;
}
.feature-board .feature-card .card-title img {
	width: 72px;
}
.feature-board .feature-card .card-list {
	width: 90%;
}
.feature-board .feature-card .card-list ul {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	list-style: none;
	direction: rtl;
	font-size: 14px;
	font-weight: bold;
	height: 75px;
}
.feature-board .feature-card .card-list ul li {
	width: 50%;
	text-align: right;
	white-space: nowrap;
	overflow-wrap: normal;
	font-size: 14px;
}
/* .feature-board .feature-card .card-list ul li:hover {
	cursor: pointer;
	text-decoration: underline;
} */
.feature-board .feature-card .card-list ul li::before {
	display: inline-block;
	transform: translateY(5px);
	margin-left: 10%;
	line-height: 30px;
	color: var(--blue);
	font-size: 30px;
	font-weight: bold;
	content: "\2022";
}

/* .feature-board Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.feature-board {
		width: 70%;
	}
}
/* .feature-board Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.feature-board {
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 80%;
	}
	.feature-board .feature-card {
		width: 30%;
		height: 300px;
		max-width: 300px;
	}
	.feature-board .feature-card .card-title {
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.feature-board .feature-card .card-title h3 {
		margin: 0;
		white-space: unset;
		text-align: center;
	}
	.feature-board .feature-card .card-list {
		margin: 0;
		padding: 0;
		height: 235px;
		width: 70%;
	}
	.feature-board .feature-card .card-list ul {
		flex-direction: column;
		justify-content: space-evenly;
		margin: 0;
		margin-top: 10px;
		font-size: 16px;
		height: 150px;
	}
}
/* .feature-board Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.feature-board .feature-card .card-list {
		padding-right: 10%;
	}
}
/* .feature-board Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
