/* Footer */
.footer {
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		45deg,
		rgba(100, 139, 204, 1) 0%,
		rgba(38, 92, 183, 1) 100%
	);
	padding: 0 8%;
	padding-top: 40px;
	padding-bottom: 30px;
	height: 500px;
	overflow: hidden;
	color: var(--text-white);
}
.footer .logo-socials {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}
.footer .logo-socials a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 150px;
	text-decoration: none;
	color: inherit;
	font-size: 24px;
	font-weight: bold;
}
.footer .logo-socials a img {
	width: 72px;
}
.footer .logo-socials .social-icons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 200px;
	height: 40px;
}
.footer .logo-socials .social-icons img {
	width: 56px;
}
.footer .info {
	margin-top: 15px;
	text-align: right;
}
.footer .desc {
	padding-top: 35px;
	text-align: right;
	font-size: 9px;
}
/* .footer Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* .footer Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.footer {
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 75px;
	}
	.footer .logo-socials p {
		padding-top: 20px;
	}
}
/* .footer Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* .footer Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
