/* Header */
.header {
	position: relative;
	overflow: hidden;
}
/* Slider */
.slider {
	box-sizing: border-box;
	display: flex;
	position: relative;
	align-items: flex-end;
	transition: all 0.8s;
	z-index: 0;
	height: 400px;
	overflow: hidden;
	color: var(--text-white);
}
.slider .slider-fader {
	position: absolute;
	z-index: 0;
	background: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	width: 100%;
	height: 100%;
}
.slide-button {
	transition: all 0.3s;
	z-index: 2;
	text-align: center;
	line-height: 400px;
}
.slide-button:hover {
	background: rgba(0, 0, 0, 0.1);
}
.middle-container {
	position: relative;
	transition: all 0.8s;
	height: 100%;
	border: 1px solid black;
}
.slide-middle {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	bottom: 0;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	width: 100%;
	height: 350px;
	overflow: visible;
	max-width: 800px;
	margin: 0 auto;
	border: 1px solid black;
}
.middle-container .slider-second {
	left: 150%;
}
.middle-container .slider-third {
	left: 300%;
}
.slide-middle .cards {
	transform: scale(1);
	width: 300px;
	height: 200px;
	object-fit: scale-down;
}
.slide-middle .slider-info {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 80%;
	height: 50%;
}
.slide-middle .slider-info .slider-title {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
	height: 50%;
	text-align: right;
}
.slide-middle .slider-info .slider-title img {
	width: 70px;
	overflow: visible;
	object-fit: scale-down;
}
.slide-middle .slider-info .slider-title h1 {
	transform: translateY(-5px);
	font-size: 24px;
}
.slide-middle .slider-info .slider-text {
	margin-right: 13px;
	height: 50%;
	text-align: center;
	font-size: 14px;
}
/* .header Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* .header Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.slide-middle {
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		height: 100%;
		overflow: visible;
	}
	.slide-middle .slider-info {
		flex-basis: auto;
		padding-right: 10%;
		width: 50%;
	}
	.slide-middle .slider-info .slider-title {
		justify-content: flex-end;
		height: 40%;
	}
	.slide-middle .slider-info .slider-text {
		max-width: 320px;
		text-align: end;
	}
	.slide-middle .cards {
		flex-basis: auto;
		width: 350px;
		overflow: visible;
	}
}
/* .header Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.slide-middle .cards {
		width: 450px;
	}
}
/* .header Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.slide-middle .cards {
		width: 500px;
	}
}
