.bill-address {
	width: 90%;
	background-color: var(--bg-grey);
	margin: 0 auto;
	direction: rtl;
	text-align: right;
	color: var(--text-black);
}
.bill-address .description {
	direction: rtl;
	font-size: 14px;
	margin-top: 20px;
    text-align: justify;
    
}
.bill-address .description p{
    
}
.bill-address .description span {
	color: var(--blue);
}
