.document-uploader {
	height: 200px;
	margin: 0 auto;
	margin-top: 70px;
	color: var(--textblack);
	max-width: 1200px;
	padding-bottom: 50px;
}

.document-uploader p {
	font-weight: bold;
}
.document-uploader .file-upload {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: var(--text-grey);
	padding-right: 10px;
	height: 100%;
}
.document-uploader .file-upload label {
	margin-top: 15px;
	margin-left: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
}
.document-uploader .file-upload label span {
	width: 150px;
	display: inline-block;
}
.document-uploader .file-upload input {
	margin-top: 5px;
}
/* Handling different width sizes */
/* Any device smaller than 600px */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.document-uploader {
		height: 150px;
	}
	.document-uploader .file-upload {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.document-uploader .file-upload label {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		font-size: 14px;
		margin-top: 35px;
	}
	.document-uploader .file-upload input {
		margin-top: 10px;
		width: 80%;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
