.Online-pay-form {
	position: relative;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top: 40px;
	width: 100%;
	overflow: hidden;
	direction: rtl;
	color: var(--text-black);
	height: 600px;
}
.Online-pay-form p {
	font-size: 14px;
	margin-top: 10px;
}
.Online-pay-form form .form-div {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.Online-pay-form .form-div label {
	transition: all 0.6s;
	color: var(--text-grey);
	font-size: 14px;
	border-left: 2px #265cb700 solid;
	position: absolute;
	height: 50px;
	width: 100%;
	padding-right: 15px;
}
.Online-pay-form .form-div label:hover {
	transform: translateY(-15px);
	color: var(--text-black);
	font-size: 10px;
}
.Online-pay-form input:focus + label {
	transform: translateY(-15px);
	color: var(--text-black);
	font-size: 10px;
	height: unset;
}
.Online-pay-form .form-div .valued {
	transform: translateY(-15px);
	color: var(--text-green);
	font-size: 10px;
	height: unset;
}
.Online-pay-form .form-div input {
	padding-bottom: 2px;
	padding-right: 15px;
	background-color: var(--bg-grey);
	transition: all 0.6s;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--grey);
	width: 100%;
	-moz-appearance: textfield;
}
.Online-pay-form .form-div input[type="number"] {
	width: 50%;
}
.Online-pay-form .form-div input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
}
.Online-pay-form .form-div input:focus {
	border-bottom: 2px solid var(--blue);
}
.Online-pay-form .form-div span {
	margin-left: 20px;
	color: var(--text-grey);
}
.Online-pay-form .form-div small {
	font-size: 10px;
}
.Online-pay-form .form-div select {
	outline: none;
	height: 35px;
	width: 200px;
	border: 2px solid var(--grey);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
	border-radius: 5px;
	color: var(--text-grey);
	background-color: #fff;
}
.Online-pay-form .form-div select option {
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
}
.Online-pay-form form .form-div textarea {
	width: 100%;
	height: 150px;
	resize: none;
	border-radius: 10px;
	margin-top: 5px;
	outline: none;
	padding: 10px;
	background-color: #fff;
	border: 2px solid var(--grey);
}
.Online-pay-form form .form-div textarea:focus {
	border: 1px solid var(--blue);
}
.Online-pay-form .form-div div {
	position: relative;
	width: 100%;
	flex-basis: 100%;
	margin-top: 35px;
}
.Online-pay-form .form-div div:last-child {
	display: flex;
	flex-direction: column;
}
/* Handling different width sizes */
/* Any device smaller than 600px */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.Online-pay-form {
		width: 60%;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
