.online-pay {
	width: 90%;
	background-color: var(--bg-grey);
	margin: 0 auto;
	direction: rtl;
	text-align: right;
	color: var(--text-black);
}
.online-pay .description {
	font-size: 14px;
	margin-top: 35px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.online-pay .description p {
	flex-basis: 100%;
}
.online-pay .description .list {
	flex-basis: 100%;
}
.online-pay .description .list ul {
	margin-top: 35px;
}
.online-pay .description .list ul p {
	font-weight: bold;
	margin-bottom: 15px;
}
.online-pay .description .list ul li {
	font-size: 12px;
	margin-right: 20px;
}
.online-pay .description .logos {
	padding-top: 35px;
	flex-basis: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	row-gap: 25px;
	align-items: center;
	justify-content: center;
	margin-bottom: 35px;
	height: 150px;
}

.online-pay .description .logos img {
	width: 70%;
	flex-grow: 0;
	flex-shrink: 0;
	object-fit: contain;
}
.online-pay hr {
	margin: 0 auto;
	border: 1px solid var(--grey);
	margin-top: 45px;
	width: 80%;
}
/* Handling different width sizes */
/* Any device smaller than 600px */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.online-pay .description .list {
		flex-basis: 50%;
	}
	.online-pay .description .logos {
		flex-basis: 50%;
		grid-template-columns: auto auto;
		padding-right: 25px;
		row-gap: 10%;
		height: 300px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.online-pay .description .logos {
		grid-template-columns: auto auto auto;
	}
}
