/* Promote */
.promote {
	box-sizing: border-box;
	display: flex;
	margin-bottom: 50px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
	background-color: #fff;
	height: 150px;
	-webkit-boxshadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.promote img {
	padding: 1% 3%;
	width: 50%;
	object-fit: contain;
}
.promote .promote-title {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 5%;
	width: 50%;
	height: 100%;
}
.promote .promote-title h1 {
	margin: 0;
	padding: 0;
	white-space: wrap;
	font-size: 15px;
}
.promote .promote-title span {
	font-size: 12px;
}
/* .promote Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* .promote Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.promote .promote-title {
		padding-right: 10%;
	}
	.promote .promote-title h1 {
		font-size: 26px;
	}
}
/* .promote Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.promote .promote-title h1 {
		font-size: 32px;
	}
}
/* .promote Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
